/* Variables */
:root {
    --color-light: #fff;
    --color-dark: #333;

    --calculator-color: #fff;
    --number-button-color: lightgray;
    --operator-button-color: gray;
    --main-button-color: rgb(123, 123, 123);

    --calculator-font: Verdana;
}

/* Universal */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

/* Container */
.container {
    background-color: rgb(213, 213, 213);
    color: #333;
    width: 100vw;
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
}

/* MODALS */
.modal-background {
    background-color: #000;
    width: 100%;
    height: 100%;
    opacity: .8;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: none;
}

.modal-container {
    background-color: #ffffff;
    width: 80%;
    height: 70%;
    max-width: 100rem;
    max-height: 80rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: .5rem;
    z-index: 100;
    display: none;
    flex-direction: column;
}

.close-modal-btn {
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.close-modal-btn i {
    font-size: 3rem;
}

.close-default {
    display: flex;
}

.close-active {
    display: none;
}

.close-modal-btn:hover {
    cursor: pointer;
}

.close-modal-btn:hover .close-default {
    display: none;
}

.close-modal-btn:hover .close-active {
    display: flex;
}

.modal-container h2 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -.2rem;
    text-align: center;
    line-height: 1.5;
    padding: 5rem 4rem;
}


/* User Icons */
.icons-lg {
    width: 10rem;
    height: 32rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-lg .icon {
    background-color: var(--color-dark);
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-lg .icon i {
    color: var(--color-light);
    font-size: 5rem;
}

.icons-lg .icon:hover {
    background-color: #000;
    cursor: pointer;
    transform: scale(105%);
}

.icons-sm {
    width: 13rem;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
    transition: all .3s;
}

.icons-sm .icon {
    background-color: #333;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-sm .icon i {
    color: #fff;
    font-size: 2rem;
}

.icons-sm .icon:hover {
    background-color: #000;
    cursor: pointer;
    transform: scale(105%);
}


/* Navigation Bar */
.nav {
    width: 100%;
    height: 10rem;
    padding: 0 5rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    color: #333;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -.2rem;
    display: flex;
    align-items: center;
    transition: all .3s;
}

.heading-emphasis {
    color: rgb(175, 17, 17);
    font-size: 1.5em;
}


/* Calculator */
.calculator {
    background-color: var(--calculator-color);
    width: 45rem;
    height: 55rem;
    margin: 10rem 0;
    padding: 2rem;
    border-radius: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.calculator-display {
    background-color: transparent;
    width: 100%;
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.calculator-display .previous {
    font-family: var(--calculator-font);
    font-size: 2.5rem;
    font-weight: 500;
    opacity: .5;
}

.calculator-display .current {
    font-family: var(--calculator-font);
    font-size: 5rem;
    font-weight: 500;
}

.calculator-buttons {
    background-color: blue;
    width: 100%;
    height: calc(100% - 14rem);
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

.calculator-buttons button {
    font-size: 2rem;
}

.calculator-buttons button:hover {
    cursor: pointer;
}

.clear-btn {
    grid-column-start: 1;
    grid-column-end: 3;
}

.equals-btn {
    grid-column-start: 3;
    grid-column-end: 5;
}


/* Footer */
.footer {
    height: 5rem;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.footer-text {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    line-height: 1.5;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .container {
      background-color: #ffffff;
      height: 100vh;
      overflow-y: none;
    }

    .icons-lg {
        display: none;
    }

    .icons-sm {
        display: flex;
    }

    .nav {
        width: 100%;
        height: 10rem;
        padding: 0 3rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
    }
    
    .nav h1 {
        color: #333;
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: -.2rem;
        display: flex;
        align-items: center;
    }

    .calculator {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 2rem 3rem;
    }

    .calculator-display {
        margin-top: 8rem;
    }

    .calculator-buttons {
        background-color: blue;
        width: 100%;
        height: calc(100% - 22rem);
    }

    .footer {
        bottom: -5rem;
    }
    
    .footer-text {
        font-size: 1.5rem;
        font-weight: 100;
        text-align: center;
        padding: 3rem 0;
        line-height: 1.5;
    }
  }


  @media only screen and (max-width: 500px) {
    .modal-container {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        transform: translateX(0) translateY(0);
        border-radius: 0;
    }

    .modal-container h2 {
        font-size: 2rem;
        padding: 3rem 6rem;
    }

    .icons-lg {
        display: none;
    }

    .icons-sm {
        width: 10rem;
        height: 3rem;
        display: flex;
    }

    .icons-sm .icon {
        width: 3rem;
        height: 3rem;
    }

    .icons-sm .icon i {
        font-size: 1.5rem;
    }

    .nav {
        width: 100%;
        height: 8rem;
        padding: 0 2rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
    }
    
    .nav h1 {
        color: #333;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: -.2rem;
        display: flex;
        align-items: center;
    }

    .calculator {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .calculator-display {
        margin-top: 6rem;
    }

    .calculator-buttons {
        background-color: blue;
        width: 100%;
        height: calc(100% - 20rem);
    }
  }
