* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62.5%;
}

.container {
    background-color: rgb(213, 213, 213);
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
}


/* User Icons */
.icons-lg {
    width: 10rem;
    height: 32rem;
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.icons-lg .icon {
    background-color: #333;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-lg .icon i {
    color: #fff;
    font-size: 5rem;
}

.icons-lg .icon:hover {
    background-color: #000;
    cursor: pointer;
    transform: scale(105%);
}

.icons-sm {
    width: 11rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: none;
}

.icons-sm .icon {
    background-color: #333;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: all .3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icons-sm .icon i {
    color: #fff;
    font-size: 1.5rem;
}

.icons-sm .icon:hover {
    background-color: #000;
    cursor: pointer;
    transform: scale(105%);
}


/* Navigation Bar */
.nav {
    width: 100%;
    height: 10rem;
    padding: 0 5rem;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav h1 {
    color: #333;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: -.2rem;
    display: flex;
    align-items: center;
}

.heading-emphasis {
    color: rgb(175, 17, 17);
    font-size: 1.5em;
}


/* Calculator */
.calculator {
    background-color: red;
    width: 40rem;
    height: 50rem;
    margin-top: 12rem;
}


/* MEDIA QUERIES */
@media only screen and (max-width: 600px) {
    .container {
      background-color: lightblue;
    }

    .icons-lg {
        display: none;
    }

    .icons-sm {
        display: flex;
    }

    .nav {
        width: 100%;
        height: 8rem;
        padding: 0 2rem;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
    }
    
    .nav h1 {
        color: #333;
        font-size: 2rem;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: -.2rem;
        display: flex;
        align-items: center;
    }

    .calculator {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }
  }
